@media(min-width: 640px) {
	#playback-row {
		max-width: 1000px;
	}
	#time-knob,
	#coverart,
	#volume-knob,
	#play-group,
	#share-group,
	#vol-group	{
		width: 40%;
		min-width: 250px;
	}
	#time-knob {
	    order: 1;
		-webkit-order: 1;
	}
	#coverart {
		order: 2;
		-webkit-order: 2;
	}
	#play-group {
		order: 3;
		-webkit-order: 3;
	}
	#share-group {
		order: 4;
		-webkit-order: 4;
	}
}
