/* fix - desktop coverart browsing with visible scrollbar */
@media(max-width: 2000px) { .coverart { width: calc( ( 100% - 38px ) * 0.1 ) } }
@media(max-width: 1800px) { .coverart { width: calc( ( 100% - 38px ) * 0.111111111 ) } }
@media(max-width: 1600px) { .coverart { width: calc( ( 100% - 38px ) * 0.142857143 ) } }
@media(max-width: 1200px) { .coverart { width: calc( ( 100% - 38px ) * 0.166666667 ) } }
@media(max-width: 1000px) { .coverart { width: calc( ( 100% - 38px ) * 0.2 ) } }
@media(max-width: 800px)  { .coverart { width: calc( ( 100% - 38px ) * 0.25 ) } }
@media(max-width: 600px)  { .coverart { width: calc( ( 100% - 38px ) * 0.333333333 ) } }
@media(max-width: 400px)  { .coverart { width: calc( ( 100% - 38px ) * 0.5 ) } }
@media ( hover:hover ) {
	.menu a, #menu-settings, #badge, #menu-bottom,
	#artist, #album:not( .albumradio ),
	.timemap, .covermap, .volmap, .rs-container,
	.biosimilar, .close-root,
	#db-home, #pl-home, #db-currentpath a, #pl-manage i,
	.fa-arrow-left, .fa-search,
	.home-block, .coverart div,
	#playlist-empty,
	li:not( .licover ),
	.licoverimg,
	.liinfo,
	.edit {
		cursor: pointer;
	}
	#menu-bottom li:not( .active ) a:hover,
	.menu a:hover,
	.menu a.active .submenu {
		background: #333333;
	}
	#playback-controls button:not( .active ):hover,
	.home-block:hover,
	.home-block:focus,
	.index li:not( .gr ):hover,
	#db-entries li:not( .licover ):hover,
	#pl-entries li:hover,
	#pl-entries li:not( .active ):hover .pl-remove,
	#pl-editor li:hover {
		background: #333333 !important;
	}
	.label:hover {
		color: #e0e7ee;
	}
	#menu-bottom li.active a:hover,
	.btn-default:hover,
	#colorcancel:hover,
	#page-playback .btn-group button:hover {
		opacity: 0.85;
	}
	.menu a.active:hover,
	#menu-bottom a.active:hover,
	#menu-bottom li.active a:hover,
	.btn-primary:hover,
	#db-home:hover,
	#pl-home:hover,
	#db-entries li.active:hover,
	#pl-entries li.active:hover,
	#pl-editor li.active:hover {
		background: #0095d8/*c*/;
		opacity: 0.85;
	}
	.menu .active i:first-of-type {
		color: #e0e7ee;
	}
	.submenu.active {
		background: #0095d8/*c*/ !important;
	}
}
