/* ---------------------- library and queue ---------------------- */
.tab-pane {
	height: 100vh;
}
#db-currentpath div,
#db-currentpath i,
#db-currentpath span {
	line-height: 40px;
}
.btnlist-top i,
#db-level-up {
	font-size: 28px;
	vertical-align: -5%;
}
#db-level-up,
#db-webradio-add {
	float: right;
	margin: 5px 10px 0 0;
	padding: 0;
}
.btnlist-top .form-inline {
	width: 180px;
	margin: 4px 0 0 0 !important;
}
.btnlist-top .form-inline i {
	font-size: 18px;
}
#pl-manage {
	float: left;
	margin-top: 4px;
}
#pl-manage i {
	margin-right: 15px;
	font-size: 24px;
	line-height: 32px;
}
#pl-count {
	display: inline-block;
	width: calc( 100% - 350px );
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* ---------------------- breadcrumb and index ---------------------- */
#db-currentpath {
	float: left;
	width: calc( 100% - 240px );
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.btnlist-top {
	top: 0;
	box-shadow: 0px 4px 10px #000000;
	z-index: 10;
}
.btnlist-top a,
.btnlist-top i {
	cursor: pointer;
}
#db-currentpath a {
	color: #0095d8;
}
#database-entries {
	float: left;
	width: calc( 100% - 38px );
	padding-bottom: 80px;
}
#db-index {
	position: fixed;
	right: 0;
	width: 38px;
	padding: 0;
/*	line-height: 30px;*/
	list-style: none;
	background: #172029;
}
#db-index li {
	text-align: center;
	color: #0095d8;
	cursor: pointer;
}
#db-index li:hover {
	background: #34495e;
}

/* ---------------------- playback ---------------------- */
#bartop,
#barbottom {
	position: fixed;
	left: 0;
	width: 100vw;
	height: 10px;
}
#bartop {
	top: 0;
}
#barbottom {
	bottom: 0;
}
/* ---------------------- menu-top ----------------------*/
.logo {
    height: 35px;
    margin: 2px 20px 10px 0;
}
#clock-display {
	margin-right: 10px;
    font-size: 30px;
    font-weight: 300;
}
#clock-display:empty { /* fix margin or padding of hidden elements still take space*/
	display: none;
}
#menu-top {
    padding: 0 20px 0 30px;
    box-shadow: 0px 4px 10px #000000;
    transition: all 0.3s ease;
}
#menu-top button, #menu-bottom a {
    height: 40px;
    line-height: 40px;
}
#menu-top button {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    vertical-align: baseline;
    border: none;
    border-radius: 0;
}
#menu-top .playback-controls {
    left: 50%;
    width: 320px;
    margin: 0 0 0 -160px;
}
#menu-top .playback-controls button {
    margin: 0 10px;
}
#menu-top .playback-controls i,
#gpio {
    font-size:24px;
    line-height: 40px;
}
#gpio .fa-lg {
    vertical-align: -10%;
}
#menu-settings i,
#playsource i {
    padding-top: 5px;
    font-size: 30px;
}
.dropdown {
    margin-right: 0 !important;
}
#dropdownbg { /* fix dropdown box-shadow */
    position: absolute;
    width: 160px;
    height: 328px;
    box-shadow: -4px 4px 10px #000000;
    z-index: -100;
}
.modal-dialog {
    margin-top: 50px;
}
/* ---------------------- menu-bottom ----------------------*/
#menu-bottom {
    box-shadow: 0px -4px 10px #000000;
    transition: all 0.3s ease;
	cursor: pointer;
}
#menu-bottom a {
    margin: 0;
    padding: 0;
    font-size: 30px;
}
#menu-bottom a:hover {
    background-color: #222f3d;
}
#menu-bottom li.active a:hover {
    background-color: #0072a5;
}
#menu-bottom li a i {
    margin: 0; /* fix wobble spin */
    width: 40px; /* fix wobble spin */
    line-height: 40px;
    font-size: 28px;
}
/* ---------------------- middle window ----------------------*/
#playback {
	height: 100vh;
	padding-top: 80px;
}
#coverart {
	display: block;
    cursor: pointer;
}
/* ---------------------- info ----------------------*/
#info span {
	display: table;
	margin: 0 auto;
	padding: 0 10px;
	text-align: center;
	white-space: nowrap;
    cursor: pointer;
}
#divsong {
	height: 34px;
}
#currentsong {
    font-weight: normal;
}
#divartist, #divalbum {
	height: 25px;
}
#sampling {
	text-align: center;
}
#sampling span {
	padding: 0;
}
#dot0 {
	display: none;
}
/* ---------------------- info scrolling ----------------------*/
.scroll-left {
 overflow: hidden;
 position: relative;
}
.scroll-left span {
 position: absolute;
 width: auto;
 height: 100%;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 10s linear infinite;
 -webkit-animation: scroll-left 10s linear infinite;
 animation: scroll-left 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
/* ---------------------- knobs, buttons ----------------------*/
#playback-row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	margin: 30px auto 0;
	padding: 0;
	width: 100vw;
	max-width: 1200px;
}
#time-knob>div:first-child, 
#volume-knob>div:first-child {
    margin: 0 auto;
}
#time-knob,
#coverart,
#volume-knob,
#play-group,
#share-group,
#vol-group {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 30%;
	min-width: 250px;
}
#play-group,
#share-group,
#vol-group {
	margin-top: 20px;
}
#time-knob {
	order: 1;
	-webkit-order: 1;
	height: 230px;
}
#coverart {
	order: 2;
	-webkit-order: 2;
}
#volume-knob {
	order: 3;
	-webkit-order: 3;
}
#play-group {
	order: 4;
	-webkit-order: 4;
}
#share-group {
	order: 5;
	-webkit-order: 5;
}
#vol-group {
	order: 6;
	-webkit-order: 6;
}

#coverart { position: relative; }
.covermap { position: absolute; }
.t0 { top: 0; }
.t50 { top: 50px; }
.t180 { top: 180px; }
.w50 { width: 50px; }
.w130 { width: 130px; }
.h50 { height: 50px; }
.h130 { height: 130px; }
.m-65 { margin-left: calc( 50% - 65px ); }
.m65 { margin-left: calc( 50% + 65px ); }
.m-115 { margin-left: calc( 50% - 115px ); }
#cover-art {
	margin: 0 auto;
	width: 230px;
}
#overlay-playsource-open {
    position: relative;
    top: -165px;
}
#countdown-display,
#volume {
    font-size: 38px !important;
    font-weight: 300 !important;
}
#countdown-display,
#total {
    top: 115px;
}
#volume,
#total {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#playback .btn-group button {
    margin: 0 0 10px 0;
    padding: 0;
    height: 40px;
    width: 40px;
    font-size:20px;
}

.close-root {
	position: absolute;
	top: 15px;
	right: 15px;
}

#bio {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	background: #000000;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
#bio .container {
	max-width: 750px;
	padding : 20px 40px !important;
}
#bio h1 {
	display: inline-block;
	margin: 0;
	width: calc(100% - 25px);
}
#bioclose {
	vertical-align: 10px;
	width: 25px;
}
#bio legend,
#biocontent a:hover {
	color: #0095d8;
	text-decoration: none;
}
#biocontent span {
	color: #587ca0;
}

#bioimg {
	float: left;
	margin: 0 20px 20px 0;
	max-width: 100%;
}
.biosimilar {
	display: inline-block;
	    cursor: pointer;
}
.biosimilar p {
	width: 170px;
	margin: 0 0 10px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 300;
}
.biosimilar,
.biosimilar img,
.biosimilar p {
	max-width: 45vw;
}
@media(max-width: 540px) {
	#bio .container {
		padding : 20px 10px 20px 15px !important;
	}
	#bioimg {
		float: none;
	}
}
/* ---------------------- responsive ----------------------*/
@media(max-width: 750px) {
	#time-knob,
	#coverart,
	#volume-knob,
	#play-group,
	#share-group,
	#vol-group	{
		width: 30%;
		min-width: 270px;
	}
	#time-knob {
	    order: 1;
		-webkit-order: 1;
	}
	#coverart {
		order: 2;
		-webkit-order: 2;
		display: block;
	}
	#volume-knob {
		order: 5;
		-webkit-order: 5;
	}
	#play-group {
		order: 3;
		-webkit-order: 3;
	}
	#share-group {
		order: 4;
		-webkit-order: 4;
	}
	#vol-group {
		order: 6;
		-webkit-order: 6;
	}
	#clock-display {
		display: none;
	}
}
@media(max-width: 700px) {
	.logo {
		display: none;
	}
}
@media(max-width: 540px) {
	.container {
		padding-top: 0;
	}
	#menu-top,
	#menu-bottom { 
		display: none;
	}
	#menu-top {
		padding: 0;
	}
	#menu-top .dropdown-menu > li > a {
		padding-right: 35px;
	}
	#sampling span,
	#dot0 {
		display: inline;
	}
	#playback-row {
		margin-top: 10px;
	}
	#time-knob,
	#coverart,
	#volume-knob {
		margin: 0 0 10px 0;
		width: 230px;
	}
	#share-group,
	#play-group,
	#vol-group {
		display: none;
		width: 40px;
		min-width: 40px;
		margin: 0 0 25px 0;
	}
	#time-knob {
	    order: 3;
		-webkit-order: 3;
	}
	#coverart {
		order: 1;
		-webkit-order: 1;
	}
	#volume-knob {
		order: 5;
		-webkit-order: 5;
	}
	#play-group {
		order: 4;
		-webkit-order: 4;
	}
	#share-group {
		order: 2;
		-webkit-order: 2;
	}
	#vol-group {
		order: 6;
		-webkit-order: 6;
		display:none;
	}
	#playback .btn-group {
		margin-left: 10px;
	}
	#playback .btn-group button {
		margin: 0;
	}
	#playback .btn-group > .btn:first-child:not(:last-child) {
		border-top-right-radius: 6px;
		border-bottom-left-radius: 0;
	}
	#playback .btn-group > .btn:last-child:not(:first-child) {
		border-top-right-radius: 0;
		border-bottom-left-radius: 6px;
	}
	#playlist {
		padding-top: 40px;
	}
	#db-currentpath {
		width: calc( 100% - 220px );
	}
	#db-up,
	#db-webradio-add {
		right: 170px;
	}
	#db-search-results span,
	#pl-filter-results span,
	#pl-count {
		display: none !important;
	}
}
@media(max-width: 375px) {
	.playback-controls button {
		margin: 0 5px !important;
	}
}
@media(max-width: 320px) {
	.playback-controls button {
		margin: 0 2px !important;
	}
}

@media(max-height: 570px) {
	#playback {
		padding-top: 60px !important;
	}
}
@media(max-height: 550px) {
	#playback-row {
		margin-top: 10px;
	}
}
@media(max-height: 530px) {
	#menu-top,
	#menu-bottom {
		display: none;
	}
	#playlist {
		padding-top: 40px;
	}
	.container {
		padding-top: 0;
	}
}
@media(max-height: 490px) {
	#playback {
		padding-top: 40px !important;
	}
}
@media(max-height: 470px) {
	#playback {
		padding-top: 25px !important;
	}
	#sampling span,
	#dot0 {
		display: inline !important;
	}
	#playback-row {
		margin-top: 10px;
	}
}
@media(max-height: 435px) {
	#playback-row {
		transform: scale(0.85, 0.85);
		transform-origin: center top;
	}
	#play-group,
	#share-group,
	#vol-group {
		margin-top: 10px;
	}
}
@media(max-height: 385px) {
	#playback {
		padding-top: 15px !important;
	}
}
@media(max-height: 370px) {
	#divalbum	{
		display: none;
	}
}
@media(max-height: 350px) {
	#divartist	{
		display: none;
	}
}

/* single column */
@media(max-width: 540px) and (max-height: 700px) {
	#playback {
		padding-top: 60px !important;
	}
}
@media(max-width: 540px) and (max-height: 670px) {
	#playback {
		padding-top: 40px !important;
	}
}
@media(max-width: 540px) and (max-height: 645px) {
	#playback {
		padding-top: 25px !important;
	}
	#sampling span,
	#dot0 {
		display: inline !important;
	}
	#playback-row {
		margin-top: 10px;
	}
}
@media(max-width: 540px) and (max-height: 630px) {
	#divalbum {
		display: none;
	}
}
@media(max-width: 540px) and (max-height: 605px) {
	#divartist {
		display: none;
	}
}
@media(max-width: 540px) and (max-height: 585px) {
	#playback-row {
		transform: scale(0.85, 0.85);
		transform-origin: center top;
	}
}
@media(max-width: 340px) {
	#playback-row {
		transform: scale(0.85, 0.85);
		transform-origin: center top;
	}
}
