@font-face {
	font-family: Lato;
	src: url( '/fonts/lato/lato-regular-webfont.woff' ) format( 'woff' ),
	     url( '/fonts/lato/lato-regular-webfont.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url( '/fonts/lato/lato-light-webfont.woff' ) format( 'woff' ),
	     url( '/fonts/lato/lato-light-webfont.ttf' ) format( 'truetype' );
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url( '/fonts/lato/lato-bold-webfont.woff' ) format( 'woff' ),
	     url( '/fonts/lato/lato-bold-webfont.ttf' ) format( 'truetype' );
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url( '/fonts/lato/lato-italic-webfont.woff' ) format( 'woff' ),
	     url( '/fonts/lato/lato-italic-webfont.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: italic;
}
/* ---------------------- fontawesome mod ---------------------- */
/* 'enhance' declared in <head> for cache busting */
.fa {
	font-family: enhance, addons;
	vertical-align: baseline;
}
.fa-mpd:before { content: "\f522" }
.fa-spotify:before { content: "\f523" }
.fa-airplay:before { content: "\f524" }
.fa-dlna:before { content: "\f525" }
.fa-rune:before { content: "\f526" }
.fa-source:before { content: "\f52A" }
.fa-output:before { content: "\f52B" }

.fa-step-backward:before { content: "\f501" }
.fa-stop:before { content: "\f502" }
.fa-play:before { content: "\f503" }
.fa-pause:before { content: "\f504" }
.fa-step-forward:before { content: "\f505" }

.fa-minus-circle:before { content: "\f51C" }
.fa-plus-o:before { content: "\f530" }
.fa-plus-refresh:before { content: "\f531" }
.fa-play-plus:before { content: "\f532" }
.fa-play-plus-refresh:before { content: "\f533" }
.fa-folder-refresh:before { content: "\f534" }
.fa-play-random:before { content: "\f535" }

.fa-repeat-single:before { content: "\f510" }
.fa-repeat:before { content: "\f511" }
.fa-random:before { content: "\f512" }
.fa-flash:before { content: "\f51E" }
.fa-single:before { content: "\f513" }
.fa-share:before { content: "\f514" }
.fa-bio:before { content: "\f515" }
.fa-minus:before { content: "\f518" }
.fa-volume:before { content: "\f516" }
.fa-mute:before { content: "\f517" }
.fa-plus:before { content: "\f519" }

.fa-library:before { content: "\f506" }
.fa-play-circle:before { content: "\f507" }
.fa-list-ul:before { content: "\f508"; }
.fa-swipe:before { content: "\f54A" }
.fa-gear:before { content: "\f509" }
.fa-gears:before { content: "\f50A" }
.fa-sliders:before { content: "\f50B" }
.fa-code:before { content: "\f50C" }
.fa-hash:before { content: "\f50D" }

.fa-coverart:before { content: "\f55E" }
.fa-bookmark:before { content: "\f550" }
.fa-network:before { content: "\f551" }
.fa-microsd:before { content: "\f552" }
.fa-usbdrive:before { content: "\f553" }
.fa-webradio:before { content: "\f554" }
.fa-album:before { content: "\f555" }
.fa-artist:before { content: "\f556" }
.fa-albumartist:before { content: "\f557" }
.fa-composer:before { content: "\f558" }
.fa-genre:before { content: "\f559" }
.fa-dirble:before { content: "\f55A" }
.fa-jamendo:before { content: "\f55B" }
.fa-lastfm:before { content: "\f55C" }
.fa-youtube:before { content: "\f55D" }
.fa-twitter:before { content: "\f52C" }
.fa-facebook:before { content: "\f52D" }

.fa-folder:before { content: "\f540" }
.fa-folder-open:before { content: "\f541" }
.fa-folder-open-cascade:before { content: "\f521" }
.fa-music:before { content: "\f543" }
.fa-webradio:before { content: "\f554" }
.fa-save:before { content: "\f542"}
.fa-star:before { content: "\f550" }
.fa-plus-circle:before { content: "\f51D" }
.fa-minus-circle:before { content: "\f51C" }
.fa-power:before { content: "\f527" }
.fa-reboot:before { content: "\f528" }
.fa-arrow-left:before { content: "\f544" }
.fa-edit:before { content: "\f536" }
.fa-edit-circle:before { content: "\f537" }
.fa-undo:before { content: "\f538" }
.fa-bars:before { content: "\f53B" }
.fa-left:before { content: "\f56A" }
.fa-right:before { content: "\f56B" }
.fa-crop:before { content: "\f56C" }
.fa-search:before { content: "\f56D" }
.fa-tag:before { content: "\f545" }

.fa-times:before { content: "\f51A" }
.fa-question-circle:before { content: "\f560" }
.fa-info-circle:before { content: "\f561" }
.fa-check:before { content: "\f51B" }
.fa-warning:before { content: "\f562" }
.fa-reload:before { content: "\f539" }
.fa-refresh:before { content: "\f53A" }
/* bootstrap mod */
.page {
	height: 100vh;
}
label {
	font-weight: normal;
}
html {
	padding: env( safe-area-inset ); /* disable iPhone X rounded corner padding */
}
body {
	overscroll-behavior: none; /* disable android pull-down refresh */
}
a,
a:hover {
	text-decoration: none;
}
w, wh, .wh { color: #e0e7ee !important; }
#infoMessage .fa-coverart { color: #e0e7ee; }
bl, .bl { color: #0095d8; }
gr, .gr { color: #7795b4; }
wh, gr { font-weight: 300; }
#timepos wh,
.infocontent i {
	width: 25px;
	margin-right: 5px;
	text-align: center;
	font-size: 22px;
	color: #7795b4;
}
.infocol {
	width: 150px;
	margin-right: 10px;
}
.infobookmark {
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
	padding-top: 20px;
}
i.bookmark,
.infobookmark i {
	width: 100px;
	font-size: 3em;
	color: #0095d8;
	text-shadow: 2px 2px 4px #000000;
}
.imagewh {
	font-size: 14px;
}
#album gr {
	font-weight: normal;
 }
.disable {
	color: #7795b4;
}
@keyframes blinkopaque {
	50% { opacity: 0; }
}
.blink {
	animation: blinkopaque 1.5s linear infinite;
}
#splash,
#loader {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: #000000;
}
#loader {
	background: rgba(0, 0, 0, 0.8);
}
#splash img,
#loader img {
	margin-top: 40vh;
	width: 250px;
}
#loader img {
	animation: blinkopaque 1.5s linear infinite;
}
#page-playback,
#page-library,
#page-playlist {
	touch-action: manipulation; /* fix: Unable to preventDefault inside passive event listener */
}
.menu {
	position: absolute;
	left: 40px;
	padding: 0;
	z-index: 11;
}
.menu,
.menushadow {
	width: 190px;
}
.menu a {
	display: block;
	margin: 0;
	padding-left: 5px;
	font-size: 16px;
	line-height: 40px;
	color: #e0e7ee;
	background: #34495e;
	border-top: 1px solid #222f3d;
}
.menu a:nth-of-type( 1 ) {
	border-top: none;
}
.menu i {
	width: 40px;
	line-height: 40px;
	vertical-align: -5%;
	text-align: center;
	font-size: 22px;
}
#settings .gr {
	font-size: 20px;
}
.menushadow {
	position: absolute;
	box-shadow: 4px 4px 10px #000000;
	z-index: -100;
}
#settings .menushadow {
	box-shadow: -4px 4px 10px #000000;
}
#context-menu-file {
	right: 50px;
}
/* ---------------------- menu-top ----------------------*/
#menu-top,
#menu-bottom,
#swipeL,
#swipeR,
#swipebar {
	position: fixed;
	width: 100%;
	height: 40px;
	background: #34495e;
	z-index: 1000;
}
#menu-top {
	top: 0;
}
#menu-bottom,
#swipeL,
#swipeR,
#swipebar {
	bottom: 0;
}
#swipeL {
	left: 0;
}
#swipeR {
	right: 0;
}
#swipeL,
#swipeR {
	width: 40px;
	line-height: 40px;
	z-index: 10;
}
#swipebar {
	line-height: 50px;
	text-align: center;
	background: rgba( 52, 73, 94, 0.5 );
	touch-action: manipulation; /* fix: Unable to preventDefault inside passive event listener */
}
#swipebar .fa-swipe {
	width: 120px;
}
#swipebar .fa-gear {
	height: 40px;
}
.transparent {
	opacity: 0;
}
.logo {
	height: 35px;
	margin: 2px 20px 10px 0;
}
#menu-top {
	padding: 0 20px 0 30px;
	box-shadow: 0px 4px 10px #000000;
}
#menu-top button, #menu-bottom a {
	height: 40px;
	line-height: 40px;
}
#menu-top button {
	margin: 0;
	padding: 0;
	height: 40px;
	width: 40px;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-radius: 0;
}
#menu-bottom i {
	color: #e0e7ee !important;
}
.btn-cmd:focus {
	outline: none;
}
#playback-controls {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 320px;
	margin: 0 0 0 -160px;
	text-align: center
}
#playback-controls button {
	margin: 0 10px;
}
#playback-controls i {
	font-size:24px;
	line-height: 40px;
}
#gpio .fa-lg {
	vertical-align: -10%;
}
#menu-settings {
	float: right;
	font-size: 30px;
	line-height: 40px;
}
#badge {
	position: absolute;
	height: 2rem;
	top: 15px;
	right: 35px;
	width: 2rem;
	text-align: center;
	line-height: 2rem;
	font-size: 1.25rem;
	font-family: Lato;
	border-radius: 50%;
	color: #e0e7ee;
	background: red;
}
#settings {
	position: fixed;
	float: right;
	display: block;
	top: 40px;
	left: auto;
	right: 0px;
	padding: 0;
	z-index: 15;
}
#settings,
#settings .menushadow {
	width: 160px;
}
/* ---------------------- menu-bottom ----------------------*/
#menu-bottom {
	box-shadow: 0px -4px 10px #000000;
	transition: all 0.3s ease;
}
#menu-bottom a {
	display: block;
	float: left;
	width: 33%;
	margin: 0;
	padding: 0;
	background: #34495e;
	font-size: 30px;
	text-align: center;
	color: #e0e7ee;
}
#tab-playback a {
	width: 34%;
	background: #2b3c4e;
}
#menu-bottom ul,
#menu-bottom li {
	display: block;
	padding: 0;
}
#menu-bottom li.active a {
	background: #0095d8;
}
#menu-bottom li a i {
	margin: 0; /* fix wobble spin */
	width: 40px; /* fix wobble spin */
	line-height: 40px;
	font-size: 28px;
}
/* ---------------------- middle window ----------------------*/
.page,
#settings,
#menu-bottom,
#swipebar {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Safari */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer and Edge */
	user-select: none;           /* Non-prefixed version, currently supported by Chrome and Opera */
}
#page-playback {
	padding-top: 80px;
}
#coverart {
	display: block;
}
/* ---------------------- info ----------------------*/
#info span {
	display: table; /* allow get width */
	margin: 0 auto;
	text-align: center;
	white-space: nowrap;
}
#divsong {
	height: 34px;
	height: 34px;
	line-height: 34px;
	font-size: 30px;
	color: #0095d8;
}
#song i {
	color: #e0e7ee;
}
#divartist,
#divalbum {
	height: 25px;
}
#song,
#artist,
#album {
	visibility: hidden; /* fix - flashed by scrollLongText() */
	overflow: hidden;
	position: relative;
}
#artist,
#album {
	font-size: 18px
}
.albumradio {
	color: #415871;
	font-weight: 300;
}
#sampling {
	height: 40px;
	text-align: center;
	color: #7795b4
}
#sampling span {
	padding: 0;
}
#divpos span {
	display: inline;
}
#timepos i {
	color: #e0e7ee;
}
#posaddons,
#posupdate,
#posrandom,
#posrepeat,
#posgpio {
	width: 25px;
	color: #0095d8;
}
/* ---------------------- info scrolling ----------------------*/
#divartist,
#divsong,
#divalbum {
	position: relative;
	overflow: hidden;
}
.scrollleft {
	backface-visibility : hidden; /* for less flickering */
}
@-moz-keyframes scrollleft {
	0%   { -moz-transform    : translateX( 100vw ) } /* move right 100vw = viewport = visible text width */
	100% { -moz-transform    : translateX( -100% ) } /* move left  100%  = window   = full text width */
}
@-webkit-keyframes scrollleft {
	0%   { -webkit-transform : translateX( 100vw ) }
	100% { -webkit-transform : translateX( -100% ) }
}
@keyframes scrollleft {
	0%   { transform         : translateX( 100vw ) }
	100% { transform         : translateX( -100% ) }
}
/* ---------------------- knobs, buttons ----------------------*/
#playback-row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	margin: 40px auto;
	padding: 0;
	width: 100vw;
	max-width: 1200px;
}
#time-knob,
#volume-knob {
	position: relative;
	text-align: center
}
#time-knob>div:first-child, 
#volume-knob>div:first-child {
	margin: 0 auto;
}
#time-knob,
#coverart,
#volume-knob,
#play-group,
#share-group,
#vol-group {
	padding: 0;
	text-align: center;
	width: 32%;
	min-width: 250px;
}
#play-group,
#share-group,
#vol-group {
	margin-top: 20px;
}
#time-knob {
	order: 1;
	-webkit-order: 1;
}
#coverart {
	order: 2;
	-webkit-order: 2;
}
#volume-knob {
	order: 3;
	-webkit-order: 3;
}
#play-group {
	order: 4;
	-webkit-order: 4;
}
#share-group {
	order: 5;
	-webkit-order: 5;
}
#vol-group {
	order: 6;
	-webkit-order: 6;
}

#voldn {
	order: 1;
	-webkit-order: 1;
}
#volmute {
	order: 2;
	-webkit-order: 2;
}
#volup {
	order: 3;
	-webkit-order: 3;
}

#divcover,
#coverart {
	position: relative;
}
#cover-art {
	margin: 0 auto;
	background-size: 100% 100%;
	border: none;
	-webkit-box-shadow: #555555 0 0 1px 0;
	box-shadow: #555555 0 0 4px 0;
}
#coverartoverlay {
	border-radius: 18px;
	background: -webkit-radial-gradient(70% -45%, 150% 150%, hsla(0,0%,100%,0.2) 60%, hsla(0,0%,100%,0) 50%);
	background: radial-gradient(110% 75% at 67% 0% ,hsla(0,0%,100%,.2) 60%,hsla(0,0%,100%,0) 50%);
}
#divcover,
#cover-art,
#coverartoverlay,
#controls-cover {
	width: 100%;
	height: 100%;
	min-width: 230px;
	min-height: 230px;
}
#coverartoverlay,
.controls {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -50%;
	z-index: 5;
}
#divcover,
#cover-art {
	margin: 0 auto;
}
.coversmall {
	width: 230px !important;
	height: 230px !important;
}
#coverartoverlay.coversmall,
#controls-cover.coversmall {
	margin-left: -115px;
}
.btn {
	border: medium none
}
#imode {
	position: absolute;
	left: 50%;
	top: 165px;
	margin-left: -60px;
	width: 120px;
	text-align: center;
	z-index: 5;
}
#imode i {
	width: 20px;
	font-size: 16px;
	color: #0095d8;
}
#iupdate {
	font-size: 14px;
}
#elapsed,
#total {
	z-index: 5;
}
#elapsed,
#volume {
	font-size: 38px;
	font-weight: 300;
	color: #e0e7ee;
	opacity: 1; /* fix volume text color */
}
#elapsed,
#total {
	position: absolute;
	left: 50%;
	margin-left: -75px;
	width: 150px;
}
#elapsed {
	top: 92px;
	line-height: 50px;
}
#total {
	top: 136px;
	color: #7795b4;
}
#volume,
#total {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#controls-time,
#controls-vol {
	top: 45px;
	margin-left: -72px;
	width: 144px;
	height: 144px;
}
/* overlay controls */
.timemap,
.covermap,
.volmap {
	position: absolute;
	display: block;
	z-index: 10;
}
.r1 { top: 0; }
.r2 { top: 22%; }
.r3 { top: 78%; }
.ws { width: 22%; }
.wl { width: 56%; }
.hs { height: 22%; }
.hl { height: 56%; }
.c2 { margin-left: 22%; }
.c3 { margin-left: 78%; }
.timemap,
.volmap {
	height: 40px;
	width: 60px;
	left: 50%;
	margin-left: -30px;
}
#timeT,
#timeB,
#volT,
#volB {
	margin-left: -25px;
	width: 50px;
}
#timeT,
#volT {
	top: 45px;
}
#timeTL,
#timeTR,
#timeBL,
#timeBR {
	width: 33px;
	height: 33px;
}
#timeTL,
#timeTR {
	top: 57px;
	margin-left: -60px;
}
#timeTR,
#timeBR {
	margin-left: 27px;
}
#timeBL,
#timeBR {
	top: 144px;
}
#timeBL {
	margin-left: -60px;
}
#timeL,
#timeR,
#volL,
#volR {
	top: 92px;
	height: 50px;
}
#timeM,
#volM {
	top: 87px;
	height: 60px;
}
#timeL,
#timeR,
#volL,
#volR {
	width: 40px;
}
#timeL,
#volL {
	margin-left: -72px;
}
#timeR,
#volR {
	margin-left: 32px;
}
#timeB,
#volB {
	top: 149px;
}

#page-playback .btn-group button {
	margin: 0 0 10px 0;
	padding: 0;
	height: 40px;
	width: 40px;
	font-size:24px;
	outline: none;
}
#page-playback .btn-group button i {
	vertical-align: 5%;
}
/* button shadow */
#page-playback .btn-group {
	position: relative;
}
#page-playback .btn-group:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 120px;
	height: 40px;
	border-radius: 6px;
	box-shadow: 0 0 1px 1px #444444;
	z-index: -10;
}
#share-group .btn-group:before {
	width: 80px;
}
#repeat.btn-default.btn-primary,
#random.btn-default.btn-primary,
#single.btn-default.btn-primary,
#volmute.btn-default.btn-primary {
	background-color: #0095d8;
}
/* glossy highlight */
#repeat, 
#share,
#voldn {
	background: -webkit-radial-gradient(100% -50%, 300% 190%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 53%); /* button highlight - last % for anti-alias edge*/
	background: radial-gradient(225% 90% at 100% 0% ,hsla(0,0%,100%,.3) 50%,hsla(0,0%,100%,0) 55%); /* (Width% Heigth% at H-center_offset% V-center_offset%, hsla(0,0%,100%,1st-T) 1st-area%, hsla(0,0%,100%,2nd-T) 2nd-area%)) */
	background-color: #34495e;
}
#random,
#volmute {
	background: -webkit-linear-gradient(top, hsla(0,0%,100%,.3) 0%, hsla(0,0%,100%,.3) 45%,rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, hsla(0,0%,100%,.3) 0%, hsla(0,0%,100%,.3) 45%, rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
	background-color: #34495e;
	border-left: 1px solid #444444;
}
#single,
#bio-open,
#volup {
	background: -webkit-radial-gradient(0% -50%, 400% 190%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 53%); 
	background: radial-gradient(300% 90% at 0% 0% ,hsla(0,0%,100%,.3) 50%,hsla(0,0%,100%,0) 55%);
	background-color: #34495e;
	border-left: 1px solid #444444;
}

.close-root {
	float: right;
	margin-top: 20px;
}

/* ------------------- roundSlider ------------------- */
.rs-container {
	box-shadow: #555555 0 0 8px 2px;
	border-radius: 50%;
}
.rs-border {
	border: none;
}
.rs-range-color,
#time .rs-path-color {
	background: #34495e;
}
.rs-tooltip {
	top: 40% !important;
	margin: 0 !important;
	left: 30% !important;
	width: 40%;
	height: 50px;
	font-family: Lato !important;
	font-size: 38px !important;
	font-weight: 300;
	line-height: 50px;
	color: #e0e7ee;
}
#time .rs-range-color {
	background: #0095d8 !important;
}
#time .rs-handle {
	opacity: 0;
}
#volume .rs-path-color {
	background: linear-gradient( #333333, #000000 );
}
#volume .rs-handle {
	border: 1px solid #333333;
	background: #0095d8;
	box-shadow: inset #34495e 0 5px 5px;
}
.rs-outer {
	position: relative; /* overlay */
}
.rs-outer:before {
	width: 220px;
	height: 220px;
}
.rs-outer:before,
#time .rs-inner:before {
	position: absolute;
	content: '';
	top: 5px;
	left: 5px;
	background-color: #000000;
	border-radius: 50%;
	z-index: 5;
}
#time .rs-outer:before {
	background: none;
}
.rs-outer:after { /* glossy overlay */
	position: absolute;
	content: '';
	border-radius: 50%;
	background: -webkit-radial-gradient(70% -50%, 160% 200%, hsla(0,0%,100%,0.15) 50%, hsla(0,0%,100%,0) 50%);
	background: radial-gradient(160% 100% at 75% 0% ,hsla(0,0%,100%,.15) 50%,hsla(0,0%,100%,0) 50%);
	z-index: 6;
}
#time .rs-outer:after {
	top: 20px;
	left: 20px;
	width: 190px;
	height: 190px;
}
#time .rs-inner:before { /* inner circle */
	top: 4px;
	left: 4px;
	width: 182px;
	height: 182px;
}
#time .rs-inner {
	position: relative;
	background: linear-gradient( #333333, #000000 );
}
#time .rs-animation,
#time .rs-transition { /* fix: flickering on iOS */
	-webkit-transition-property: none;
	-moz-transition-property: none;
	-o-transition-property: none;
	transition-property: none;
}
#volume .rs-outer:after {
	top: 0;
	left: 0;
	width: 230px;
	height: 230px;
}
.rscontainer,
#volume { /* volume up/down */
	position: relative;
}

@keyframes blinkdot {
	50% { opacity: 0 }
}
@-webkit-keyframes blinkdot { /* midori */
	50% { opacity: 0 }
}
.dot {
	animation: 1s blinkdot infinite;
	-webkit-animation: 1s blinkdot infinite;
}
.dot2 {
	animation-delay: 250ms;
	-webkit-animation-delay: 250ms;
}
.dot3 {
	animation-delay: 500ms;
	-webkit-animation-delay: 500ms;
}
#dot0 {
	display: none;
}

/* ---------------------- bio ---------------------- */
#bio {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	background: #000000;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 100;
}
#bio .container {
	max-width: 750px;
	padding : 20px 30px;
}
#bio h1 {
	display: inline-block;
	margin: 0;
	font-weight: 300;
}
.close-root {
	float: right;
	margin-top: 0;
	line-height: 40px;
	font-size: 28px;
	color: #0095d8;
}
#biocontent span {
	color: #7795b4;
}

#bioimg {
	float: left;
	margin: 0 20px 20px 0;
	max-width: 100%;
}
.biosimilar {
	display: inline-block;
}
.biosimilar p {
	width: 170px;
	margin: 0 0 10px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 300;
}
.biosimilar,
.biosimilar img,
.biosimilar p {
	max-width: 170px;
}
@media(max-width: 540px) {
	#bio .container {
		padding : 20px 10px 20px 15px;
	}
	#bioimg {
		float: none;
	}
}
/* ---------------------- library and queue ---------------------- */
#db-list,
#pl-list {
	padding-top: 80px;
}
#home-blocks {
	margin: 0 5px 10px;
	padding-top: 90px;
}
.divblock {
	float: left;
	width: 16.666666%;
	padding: 3px;
}
.home-block {
	position: relative;
	height: 110px;
	padding: 25px 5px 10px 5px;
	background: #1e2935;
	border-radius: 10px;
	color: #7795b4;
	text-align: center;
}
.home-block i {
	display: inline-block;
	width: 60px;
	height: 40px;
	line-height: 40px;
	font-size: 48px;
	text-align: center;
	color: #7795b4;
	text-shadow: 2px 2px 4px #000000;
}
#home-blocks gr {
	font-size: 18px;
	line-height: 18px;
}
#home-blocks gr i {
	width: 18px;
	height: 18px;
	font-size: 18px;
}
#home-blocks wh {
	display: block;
	font-size: 18px;
	font-weight: 300;
	line-height: 40px;
}
.divbklabel {
	overflow: hidden;
}
.coverart div {
	position: relative;
}
.bkcoverart {
	position: absolute;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	top: 50%;
	left: 50%;
	-webkit-box-shadow: #555555 0 0 1px 0;
	box-shadow: #555555 0 0 1px 0;
}
.label,
.bklabel {
	display: block;
	font-size: 18px;
	font-weight: 300;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 40px;
	color: #e0e7ee;
}
.home-block .fa-coverart,
.home-block .fa-bookmark {
	color: #0095d8;
}
/* coverart edit icons */
.edit {
	position: absolute;
	right: 0;
	width: 40px !important;
	height: 35px;
	line-height: 40px;
	text-align: center;
	font-size: 24px !important;
	color: #e0e7ee !important;
}
.home-block-remove,
.coverart-remove,
.licover-remove {
	top: 0;
}
.home-block-edit {
	top: 35px;
}
.home-block-cover {
	bottom: 0;
}
.coverart-cover {
	bottom: 5px;
}
.licover-remove,
.licover-cover {
	height: 40px;
	right: 15px;
}
.licover-cover {
	bottom: 0;
}
#divcover .edit {
	right: 0;
	z-index: 15
}

#infoMessage img {
	margin: 10px;
	width: 100px;
	height: 100px;
}
.imagewh span {
	display: inline-block;
	width: 100px;
	margin: 0 10px;
	font-size: 14px;
}
#infoMessage img {
	-webkit-box-shadow: #555555 0 0 1px 0;
	box-shadow: #555555 0 0 1px 0;
}
/* ---------------------- breadcrumb and index ---------------------- */
.btnlist-top {
	position: fixed;
	width: 100%;
	height: 40px;
	background: #1e2935;
	top: 0;
	padding-right: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
	z-index: 12;
}
.btnlist a {
	font-size: 18px;
	color: #e0e7ee;
}
.btnlist-top i {
	font-size: 24px;
}
.btnlist-top .form-inline i {
	font-size: 18px;
}
#db-search-close {
	float: right;
}
#db-searchbtn,
#pl-searchbtn {
	float: right;
	width: 40px;
	line-height: 40px;
	text-align: center;
}
#dbsearchbtn,
#plsearchbtn {
	height: 32px;
	padding: 5px 10px;
}
#dbsearchbtn i,
#plsearchbtn i {
	font-size: 22px;
}
.form-control:focus {
	border: 2px solid #34495e;
	border-radius: 6px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#db-webradio-new {
	width: 40px;
	line-height: 40px;
	font-size: 24px;
	text-align: center;
}
#db-back {
	float: right;
	width: 40px;
	margin: 0 5px 0 0;
	padding: 0;
	line-height: 40px;
	text-align: center;
	font-size: 28px;
	color: #0095d8;
}
#db-currentpath {
	float: left;
	width: auto;
	max-width: calc( 100% - 85px );
	height: 40px;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 18px;
}
#li-count,
#countsong,
#countradio {
	margin-left: 10px;
}
.title {
	margin-left: 15px;
	font-size: 26px;
	font-weight: 300;
	letter-spacing: 5px;
}
#db-currentpath .title,
#li-count,
#pl-currentpath > * {
	float: left;
	margin-right: 3px;
}
#db-currentpath > span {
	margin-right: 3px;
}
#db-currentpath i {
	margin: 0;
}
.plsbackroot,
.plsback,
#db-currentpath a:first-of-type {
	color: #0095d8;
}
.plsbackroot,
.plsback {
	margin-left: 20px;
	font-size: 28px !important;
}
#db-home,
#pl-home {
	float: left;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 44px;
	text-align: center;
	background: #0095d8;
}
#pl-home {
	line-height: 46px;
}
#pl-currentpath i {
	width: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
}
#pl-currentpath .fa-music,
#pl-currentpath .fa-webradio {
	width: 30px;
}
#db-search,
#pl-search {
	display: block;
	max-width: 200px;
	white-space: nowrap;
	float: right;
	margin-top: 4px;
	z-index: 1001
}
#db-search input,
#pl-search input {
	display: inline-block;
	height: 32px;
	margin: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0
}
#db-search-close,
#pl-search-close {
	background-color: transparent;
}
#db-search-close span,
#pl-search-close span {
	margin-left: 5px;
	vertical-align: 12%;
	font-size: 18px;
}
#db-search-close i,
#pl-search-close i {
	color: #0095d8;
}
#db-search-close span a,
#pl-search-close span a {
	color: #7795b4;
}
#db-currentpath span i {
	margin: 0 10px;
	vertical-align: top;
	font-size: 24px;
	line-height: 40px;
	color: #e0e7ee;
}
#db-currentpath span i.fa-music {
	margin-left: 5px;
}
.index {
	position: fixed;
	right: 0;
	width: 38px;
	height: 100%;
	padding: 20px 0 0 0;
	list-style: none;
	background: #172029;
}
.index li {
	text-align: center;
	color: #e0e7ee;
}
.index .gr {
	color: #34495e;
}
.coverart {
	display: inline-block;
	border-right: #000000 1px solid;
	border-bottom: #000000 1px solid;
}
.coverart1,
.coverart2 {
	display: block;
	padding-top: 2px;
	overflow: hidden;
	line-height: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.coverart2 {
	margin-bottom: 5px;
}
.licover {
	height: 230px !important;
}
.licover .coversmall {
	margin: 0 15px 0 40px;
	box-shadow: #555555 0 0 1px 0;
}
.licover.active {
	background: linear-gradient( #0000 189px, #0095d8 41px ) !important;
}
.licoverimg {
	display: inline-block;
	position: relative;
}
.licoverimg img {
	pointer-events: none;
}
.liinfo {
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 5px;
	width: calc( 100% - 335px );
	line-height: 33px;
	font-weight: 300;
}
.lialbum {
	display: inline-block;
	line-height: 24px;
	font-size: 22px;
	font-weight: normal;
	white-space: normal;
}
.liinfo i:nth-child( 3 ) {
	margin-top: 10px !important;
}
.liinfo i {
	margin: 0 10px 0 0 !important;
	width: 28px !important;
	line-height: 33px !important;
	vertical-align: -10%;
}
.lidir {
	margin-left: 37px;
	color: #7795b4;
}
#db-entries,
#pl-editor {
	float: left;
	width: calc( 100vw - 38px );
	padding-bottom: 80px;
}
#db-entries,
#pl-entries,
#pl-editor {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none
}
#db-entries li,
#pl-entries li,
#pl-editor li {
	display: block;
	height: 49px;
	line-height: 20px;
	border-bottom: 1px solid #172029;
	font-size: 15px;
	background: #10161c
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.divblock.updn .home-block,
#pl-entries li.updn {
	background: #374c62;
}
#pl-entries li.active.updn {
	background: #0095d8;
}
.db-icon,
.pl-icon,
#db-entries li span i {
	margin-right: 10px;
}
#db-entries span,
#pl-entries .name,
#pl-entries .song,
#pl-entries .li2,
#pl-editor span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#pl-entries .name {
	max-width: calc( 100% - 95px );
}
#pl-entries .song {
	max-width: calc( 100% - 60px );
}
#db-entries .single {
	line-height: 48px;
	vertical-align: 5%;
}
#indexcover,
.lipath,
.liname,
.liindex,
.lisort,
.licue,
.liartist,
.lithumb,
.liimg {
	display: none;
}
.licover .liartist {
	display: inline;
}
span.dbpath {
	vertical-align: 15%;
}
#pl-editor span {
	font-size: 18px;
}
#pl-editor span.plname {
	line-height: 48px;
}
#pl-editor span gr {
	font-weight: normal;
}
#db-entries .active,
#pl-entries .active,
#pl-editor .active {
	color: #e0e7ee;
	background: #0095d8
}
#pl-entries .pl-remove {
	float: right;
	position: relative;
	width: 49px;
	height: 49px;
	margin: 0;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	background: #000000;
	z-index: 1;
}
#pl-entries li.active .pl-remove {
	background: #0095d8;
}
.db-icon,
.pl-icon,
#pl-editor span:before,
#pl-editor i,
#db-entries i,
#pl-entries i {
	width: 40px;
	margin-top: 3px;
	font-size: 26px;
	line-height: 40px;
	text-align: center;
	color: #7795b4;
}
.db-icon,
.pl-icon {
	float: left;
	display: block;
	text-align: center;
}
#db-currentpath .fa-dirble {
	margin: 0 15px;
}
.radiothumb {
	width: 40px;
	height: 40px;
	margin-top: 3px;
}
#pl-entries li.radio {
	margin: 0;
}
#pl-manage {
	float: right;
	margin-right: 5px;
}
#pl-manage i {
	width: 40px;
	text-align: center;
	font-size: 24px;
	line-height: 40px;
}
#li-count,
#li-count i {
	color: #7795b4 !important;
}
#li-count span {
	color: #e0e7ee;
}
#pl-count,
#pl-currentpath {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #7795b4;
}
#countsong,
#pltime,
#countradio {
	vertical-align: 5%;
}
#pl-count i {
	font-size: 24px;
}
#pl-search-close {
	float: right;
}
#pl-entries li:before {
	margin-top: 9px;
}
#db-entries li,
#pl-entries li {
	font-size: 18px;
	color: #7795b4;
}
#db-entries li span,
.li1,
.li1 a,
w {
	color: #e0e7ee;
}
#db-entries .li1,
#pl-entries .li1,
#pl-editor .li1 {
	display: block;
	padding: 5px 10px 0 0;
}
#pl-entries .li1 a {
	display: inline-block;
	vertical-align: middle;
}
.duration-right {
	position: absolute;
	float: right;
	right: 10px;
}
#db-entries .time,
#pl-editor .time {
	margin-left: 10px;
}
#pl-entries a {
	color: #e0e7ee;
}
#pl-entries .elapsed i {
	margin-right: 5px;
	width: 20px;
	font-size: 18px;
	line-height: 12px;
}
#pl-entries .elapsed {
	margin: 0 3px 0 7px;
}
.time {
	color: #7795b4 !important;
}
#db-entries .li2,
#pl-entries .li2,
#pl-editor .li2 {
	display: block;
	max-width: calc( 100vw - 60px );
	font-size: 12px;
	color: #7795b4
}
#pl-entries .unsaved {
	color: #e0e7ee;
}
li.active i:not( .unsaved ),
li.active .li2,
li.active gr,
li.active .time {
	color: #34495e !important;
}
.lifocus {
	background: #374c62;
}
.liinfo .fa:not(.fa-music) {
	color: #7795b4 !important;
}
#pl-entries.playlist-spotify li:before {
	content: "\f1bc";
}
.db-sortable-ghost .home-block:after {
	position: absolute;
	content: "\f569";
	font-family: enhance;
	left: 0;
	top: 0;
	width: 100%;
	font-size: 36px;
	line-height: 116px;
	color: #e0e7ee;
}
.db-sortable-ghost .home-block {
	background: #7795b4;
}
.db-sortable-ghost .home-block > * {
	opacity: 0.5;
}
.pl-sortable-ghost {
	background: #7795b4;
}
.pl-sortable-ghost .pl-icon {
	visibility: hidden;
}
.pl-sortable-ghost a,
.pl-sortable-ghost .li2 {
	color: #34495e !important;
}
.pl-sortable-ghost:before {
	position: absolute;
	content: "\f568";
	font-family: enhance;
	width: 40px;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	color: #e0e7ee;
}
#playlist-warning {
	text-align: center;
}
#playlist-warning i {
	font-size: 30px;
}
#playlist-warning p {
	margin-top: 27px;
	color: #7795b4;
}
.menu a.active {
	background: #0095d8;
}
/* flags */
.flag {
	margin-left: 5px;
}
.flag f {
	background: url( /assets/img/flags.png ) no-repeat;
	display: inline-block;
	width: 16px;
	height: 12px;
}
/* bootstrap column */
.coverart div {
	position: relative;
	padding-bottom: 100%;
}
.coverart img {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
@media(min-width: 2000px) { .coverart { width: 200px } }
@media(max-width: 2000px) { .coverart { width: calc( ( 100vw - 38px ) * 0.1 ) } }
@media(max-width: 1800px) { .coverart { width: calc( ( 100vw - 38px ) * 0.111111111 ) } }
@media(max-width: 1600px) { .coverart { width: calc( ( 100vw - 38px ) * 0.142857143 ) } }
@media(max-width: 1200px) { .coverart { width: calc( ( 100vw - 38px ) * 0.166666667 ) } }
@media(max-width: 1000px) { .coverart { width: calc( ( 100vw - 38px ) * 0.2 ) } }
@media(max-width: 800px)  { .coverart { width: calc( ( 100vw - 38px ) * 0.25 ) } }
@media(max-width: 600px)  { .coverart { width: calc( ( 100vw - 38px ) * 0.333333333 ) } }
@media(max-width: 400px)  { .coverart { width: calc( ( 100vw - 38px ) * 0.5 ) } }

@media (max-width: 2000px) { .divblock { width: 12.5% } }
@media (max-width: 1600px) { .divblock { width: 14.285714% } }
@media (max-width: 1200px) { .divblock { width: 16.666666% } }
@media (max-width: 940px)  { .divblock { width: 20% } }
@media (max-width: 740px)  { .divblock { width: 25% } }
@media (max-width: 560px)  { .divblock { width: 33.3333333% } }
@media (max-width: 410px)  { .divblock { width: 50% } }
@media (max-width: 280px)  { .divblock { width: 100% } }

/* height */
@media(max-height: 590px) {
	#playback-row {
		margin-top: 20px;
	}
	#play-group,
	#share-group,
	#vol-group {
		display: none;
	}
}
@media(max-height: 520px) {
	#page-playback {
		padding-top: 40px;
	}
}
@media(max-height: 475px) {
	#settings {
		position: absolute;
	}
	#playback-row {
		margin-top: 0;
	}
	#divpos,
	#sampling span,
	#dot0 {
		display: inline;
	}
}
/* width */
@media(max-width: 749px) {
	#time-knob {
		order: 1;
		-webkit-order: 1;
	}
	#coverart {
		order: 2;
		-webkit-order: 2;
		display: block;
	}
	#volume-knob {
		order: 5;
		-webkit-order: 5;
		margin-top: 20px;
	}
	#play-group {
		order: 3;
		-webkit-order: 3;
	}
	#share-group {
		order: 4;
		-webkit-order: 4;
	}
	#vol-group {
		order: 6;
		-webkit-order: 6;
		margin-top: 20px;
	}
}
@media(max-width: 735px) {
	#clock-display {
		display: none;
	}
	.title {
		display: none;
	}
}
@media(max-width: 700px) {
	.logo,
	.liinfo {
		display: none;
	}
}
@media(max-width: 540px) {
	#playback-row {
		margin-top: 20px;
	}
	#time-knob,
	#coverart,
	#volume-knob,
	#play-group,
	#share-group,
	#vol-group	{
		width: 45%;
		min-width: 245px;
	}
	#share-group,
	#play-group,
	#vol-group {
		display:none;
	}
	#pltime {
		display: none;
	}
}
@media(max-width: 500px) {
	#divpos,
	#sampling span,
	#dot0 {
		display: inline;
	}
	#time-knob,
	#coverart,
	#volume-knob {
		width: 55%;
		margin-bottom: 20px;
	}
	#time-knob {
	    order: 2;
		-webkit-order: 2;
	}
	#coverart {
		order: 1;
		-webkit-order: 1;
	}
	#volume-knob {
		order: 3;
		-webkit-order: 3;
		margin-top: 0;
	}
	#db-currentpath {
		width: calc( 100% - 90px );
	}
	#db-up,
	#db-webradio-new {
		right: 170px;
	}
}
@media(max-width: 480px) {
	#pl-count span,
	#pl-count a:first-child,
	#pl-count a:last-child {
		display: none;
	}
	#db-entries li span .fa,
	#pl-editor span:before {
		display: none;
	}
	#db-entries li.licover {
		padding-left: 0;
	}
	#db-entries li,
	#pl-editor li {
		line-height: 52px;
	}
	#db-entries span,
	#db-entries .li1,
	#db-entries .li2,
	#pl-entries span,
	#pl-entries .li1,
	#pl-entries .li2,
	#pl-editor span,
	.time {
		font-size: 16px;
		line-height: 19px;
	}
	#db-entries span.single,
	#pl-entries span.single {
		padding-left: 0;
	}
	#db-entries .li2,
	#pl-entries .li2 {
		font-size: 12px;
	}
	#pl-editor span.pleditor {
		line-height: 47px;
	}
}
@media(max-width: 450px) {
	#pl-count {
		display: none;
	}
}
@media(max-width: 400px) {
	#playback-controls {
		width: 270px;
		margin: 0 0 0 -135px;
	}
	#playback-controls button {
		margin: 0 5px;
	}
}
@media(max-width: 360px) {
	#playback-controls button {
		margin: 0;
	}
}
@media(max-width: 330px) {
	.infocol {
		width: 140px;
	}
}
