/* fix - desktop coverart browsing with visible scrollbar */
@media(max-width: 2000px) { .coverart { width: calc( ( 100% - 38px ) * 0.1 ) } }
@media(max-width: 1800px) { .coverart { width: calc( ( 100% - 38px ) * 0.111111111 ) } }
@media(max-width: 1600px) { .coverart { width: calc( ( 100% - 38px ) * 0.142857143 ) } }
@media(max-width: 1200px) { .coverart { width: calc( ( 100% - 38px ) * 0.155555567 ) } }
@media(max-width: 1000px) { .coverart { width: calc( ( 100% - 38px ) * 0.2 ) } }
@media(max-width: 800px)  { .coverart { width: calc( ( 100% - 38px ) * 0.25 ) } }
@media(max-width: 600px)  { .coverart { width: calc( ( 100% - 38px ) * 0.333333333 ) } }
@media(max-width: 400px)  { .coverart { width: calc( ( 100% - 38px ) * 0.5 ) } }
/* :hover *********************************************************/
#db-entries li:hover,
#pl-editor li:hover,
#pl-entries li:hover {
	background-color: hsl(0,0%,15%)/*bh*/;
}
#db-entries li.active:hover,
#db-home:hover,
#menu-bottom li.active a:hover,
#pl-editor li.active:hover,
#pl-entries li.active:hover,
#pl-home:hover,
#playback-controls button.active:hover,
#playback-row .btn.active:hover {
	background-color: hsl(200,100%,45%)/*ch*/ !important;
}
.licover.active:hover {
	background: linear-gradient( #000000 189px, hsl(200,100%,45%)/*ch*/ 41px ) !important;
}
.index li:hover,
.menu a:hover,
.submenu:hover,
#menu-bottom a:hover,
#menu-settings:hover,
#playback-controls button:hover,
#playback-row .btn:hover {
	background-color: hsl(200,5%,40%)/*cgh*/ !important;
}
.divblock.updn .home-block,
.fa-arrow-left:hover,
.home-block:hover,
.lifocus:hover,
#db-searchbtn:hover,
#dbsearchbtn:hover,
#pl-manage i:hover,
#pl-searchbtn:hover,
#plsearchbtn:hover {
	background-color: hsl(200,5%,30%)/*cdh*/ !important;
}
.lifocus {
	background-color: hsl(0,0%,20%)/*bf*/ !important;
}
li.active.lifocus {
	background-color: hsl(200,100%,40%)/*c*/ !important;
}
/* cursor *********************************************************/
#artist,
#album:not( .albumradio ),
#badge,
#db-home,
#menu-settings,
#menu-bottom,
#pl-home,
#db-currentpath a,
#pl-manage i,
#playlist-empty,
li:not( .licover ),
.biosimilar,
.close-root,
.coverart div,
.covermap,
.edit,
.fa-arrow-left,
.fa-search,
.home-block,
.licoverimg,
.liinfo,
.menu a,
.timemap,
.volmap,
.rs-container {
	cursor: pointer;
}
