#banner {
	display: none;
	position: fixed;
	min-width: 230px;
	max-width: 100%;
	bottom: 50px;
	padding: 10px 100px 10px 15px;
	z-index: 100000;
}
#bannerTitle,
#bannerMessage {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#bannerTitle {
	font-size: 18px;
	color: #000000;
}
#bannerTitle i {
	width: 20px;
	margin-right: 5px;
	text-align: center;
}