/* fix - desktop coverart browsing with visible scrollbar */
@media(max-width: 2000px) { .coverart { width: calc( ( 100% - 38px ) * 0.1 ) } }
@media(max-width: 1800px) { .coverart { width: calc( ( 100% - 38px ) * 0.111111111 ) } }
@media(max-width: 1600px) { .coverart { width: calc( ( 100% - 38px ) * 0.142857143 ) } }
@media(max-width: 1200px) { .coverart { width: calc( ( 100% - 38px ) * 0.166666667 ) } }
@media(max-width: 1000px) { .coverart { width: calc( ( 100% - 38px ) * 0.2 ) } }
@media(max-width: 800px)  { .coverart { width: calc( ( 100% - 38px ) * 0.25 ) } }
@media(max-width: 600px)  { .coverart { width: calc( ( 100% - 38px ) * 0.333333333 ) } }
@media(max-width: 400px)  { .coverart { width: calc( ( 100% - 38px ) * 0.5 ) } }
