/* default colors */
/* main:hover  #00a3ed /*ch*/
/* gray:hover  #666666 /*cgh*/
/* dark:hover  #333333 /*cdh*/
/* main:active  #0077ac /*ca*/
/* gray:active  #333333 /*cga*/
/* dark:active  #111111 /*cda*/

/* fix - desktop coverart browsing with visible scrollbar */
@media(max-width: 2000px) { .coverart { width: calc( ( 100% - 38px ) * 0.1 ) } }
@media(max-width: 1800px) { .coverart { width: calc( ( 100% - 38px ) * 0.111111111 ) } }
@media(max-width: 1600px) { .coverart { width: calc( ( 100% - 38px ) * 0.142857143 ) } }
@media(max-width: 1200px) { .coverart { width: calc( ( 100% - 38px ) * 0.166666667 ) } }
@media(max-width: 1000px) { .coverart { width: calc( ( 100% - 38px ) * 0.2 ) } }
@media(max-width: 800px)  { .coverart { width: calc( ( 100% - 38px ) * 0.25 ) } }
@media(max-width: 600px)  { .coverart { width: calc( ( 100% - 38px ) * 0.333333333 ) } }
@media(max-width: 400px)  { .coverart { width: calc( ( 100% - 38px ) * 0.5 ) } }
@media ( hover:hover ) {
	.menu .active i {
		color: #e0e7ee !important;
	}
	.submenu.active {
		background: #0095d8/*c*/;
	}
	/* :hover *********************************************************/
	.menu a.active:hover,
	.submenu.active:hover,
	#db-entries li.active:hover,
	#db-home:hover,
	#menu-bottom li.active a:hover,
	#pl-editor li.active:hover,
	#pl-entries li.active:hover,
	#pl-home:hover,
	#playback-controls button.active:hover,
	#playback-row .btn.active:hover {
		background-color: #00a3ed/*ch*/ !important;
	}
	.licover.active:hover {
		background: linear-gradient( #000000 189px, #00a3ed/*ch*/ 41px ) !important;
	}
	.index li:hover,
	.fa-arrow-left:hover,
	.menu a:hover,
	.submenu:hover,
	#db-searchbtn:hover,
	#dbsearchbtn:hover,
	#menu-bottom a:hover,
	#menu-settings:hover,
	#pl-manage i:hover,
	#pl-searchbtn:hover,
	#playback-controls button:hover,
	#playback-row .btn:hover {
		background-color: #666666/*cgh*/ !important;
	}
	.divblock.updn .home-block,
	.home-block:hover,
	#db-entries li:hover,
	#pl-editor li:hover,
	#pl-entries li:hover {
		background-color: #333333/*cdh*/ !important;
	}
	/* :active *********************************************************/
	.menu a.active:active,
	.submenu.active:active,
	#db-entries li.active:active,
	#menu-bottom li.active a:active:active,
	#pl-editor li.active:active,
	#pl-entries li.active:active,
	#playback-controls button.active:active,
	#playback-row .btn.active:active {
		background-color: #0077ac/*ca*/ !important;
	}
	.licover.active:active {
		background: linear-gradient( #000000 189px, #0077ac/*ca*/ 41px ) !important;
	}
	.index li:active,
	.fa-arrow-left:active,
	.menu a:active,
	.submenu:active,
	#db-entries li:active,
	#db-searchbtn:active,
	#dbsearchbtn:active,
	#menu-bottom a:active,
	#menu-settings:active,
	#pl-manage i:active,
	#pl-searchbtn:active,
	#playback-controls button:active,
	#playback-row .btn:active {
		background-color: #333333/*cga*/ !important;
	}
	#db-entries li:active,
	#pl-editor li:active,
	#pl-entries li:active {
		background-color: #111111/*cda*/ !important;
	}
	/* cursor *********************************************************/
	#artist,
	#album:not( .albumradio ),
	#badge,
	#db-home,
	#menu-settings,
	#menu-bottom,
	#pl-home,
	#db-currentpath a,
	#pl-manage i,
	#playlist-empty,
	li:not( .licover ),
	.biosimilar,
	.close-root,
	.coverart div,
	.covermap,
	.edit,
	.fa-arrow-left,
	.fa-search,
	.home-block,
	.licoverimg,
	.liinfo,
	.menu a,
	.timemap,
	.volmap,
	.rs-container {
		cursor: pointer;
	}
}
