#banner {
	display: none;
	position: fixed;
	min-width: 230px;
	max-width: 100%;
	bottom: 50px;
	padding: 10px 130px 10px 15px;
	font-size: 18px;
	z-index: 100001;
	background: linear-gradient( to right, hsl(200,100%,40%)/*c*/ calc( 100% - 100px ), rgba( 0,0,0,0 ) 100% );
}
#bannerTitle,
#bannerMessage {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#bannerTitle,
#bannerTitle i.gr,
#banner .li2,
#banner .time,
#banner .li2 {
	color: hsl(200,3%,30%)/*cg*/ !important;
}
#bannerTitle i {
	width: 20px;
	margin-right: 5px;
	text-align: center;
	color: #e0e7ee;
}
#banner .time {
	margin-left: 10px;
}
#banner .li1,
#banner .li2 {
	display: block;
}
#banner .li2 {
	font-size: 12px;
}
