.rs-outer:after { /* glossy overlay */
	background: radial-gradient(150% 100% at 75% -25% ,hsla(0,0%,100%,.15) 50%,hsla(0,0%,100%,0) 50%);
}
#repeat, #overlay-social-open, #voldn {
	background: radial-gradient(225% 90% at 75% -70% ,hsla(0,0%,100%,.3) 50%,hsla(0,0%,100%,0) 53%);
	background-color: #34495e;
}
#single, #songinfo-open, #volup {
	background: radial-gradient(300% 90% at 25% -105% ,hsla(0,0%,100%,.3) 50%,hsla(0,0%,100%,0) 53%);
	background-color: #34495e;
}
