.rs-outer:after { /* glossy overlay */
	background: radial-gradient(150% 100% at 75% -25% ,hsla(0,0%,100%,.15) 50%,hsla(0,0%,100%,0) 50%);
}
#repeat, #overlay-social-open, #voldn {
	background: radial-gradient(250% 90% at 85% -80% ,hsla(0,0%,100%,.3) 50%,hsla(0,0%,100%,0) 52%);
	background-color: #34495e;
}
#random, #volmute {
	background: linear-gradient(to bottom, hsla(0,0%,100%,.3) 0%, hsla(0,0%,100%,.3) 45%, rgba(0,0,0,0) 55%,rgba(0,0,0,0) 100%);
	background-color: #34495e;
}
#single, #songinfo-open, #volup {
	background: radial-gradient(300% 90% at 20% -105% ,hsla(0,0%,100%,.3) 50%,hsla(0,0%,100%,0) 52%);
	background-color: #34495e;
}
